@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/* clear margin*/
* {
    margin: 0;
    padding: 0;
}

/* implement font */
body {
    font-family: lato, sans-serif;
    font-weight: 300;
}

/* style header */
header {
    background: green;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
}

/* style intro area */
#intro {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
}


#nickname {
    padding: 10px;
}

/* style choice area */
#choice {
    text-align: center;
}

.picture {
    width: 80px;
    height: 80px;
}

/* style game area */
#gridGame {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly; 
}

/* style strategy area */
#strategy {
    text-align: center;
}

/* style footer area */
footer {
    background: green;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
}

.flexfooter {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

